<h1>Последние посты:</h1>

<% @result.each do |post| %>
	    <p>
	      <%= post['content'] %>
	      <br/>
	      <br/>
	      <h6>Время добавления: <%= post['created_date'] %></h6>
	      <br/>
	      <a href="/post/<%= post['id'] %>">Комментарии</a> <!—- передаем номер поста -—>
	    </p>
	  <hr/> <!-- раздляет чертой --> 
<% end %>

