

<form action="/new" method="POST">

  <div class="mb-3">
  	<h1>Расскажи, что у тебя нового?</h1>
  </div>

  <div class="mb-3">
	  <textarea name="content" class="form-control" placeholder="Ну я тебя слушаю..." id="floatingTextarea2" style="height: 100px"></textarea>
  </div>

  <br/>
  	<button type="submit" class="btn btn-primary">Создать</button>

</form>

