<h1>Комментарии к посту:</h1>
<br/>

<% @result.each do |post| %>
	    <p>
	      <%= @row['content'] %>
	      <br/>
	      <br/>
	      Время добавления: <%= @row['created_date'] %>
	    </p>
	  <hr/> <!-- раздляет чертой --> 
<% end %>